[submodule "docker-fibonacci-client"]
	path = client
	url = git@github.com:emirhanaydin/docker-fibonacci-client.git
[submodule "docker-fibonacci-server"]
	path = api
	url = git@github.com:emirhanaydin/docker-fibonacci-server.git
[submodule "docker-fibonacci-worker"]
	path = worker
	url = git@github.com:emirhanaydin/docker-fibonacci-worker.git
